<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/kendo/css/web/kendo.common-material.min.css" />
        <link rel="stylesheet" href="~/lib/kendo/css/web/kendo.material.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" 
              asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet"
              href="https://kendo.cdn.telerik.com/2016.3.914/styles/kendo.common-material.min.css"
              asp-fallback-href="~/lib/kendo/css/web/kendo.common-material.min.css"
              asp-fallback-test-class="k-common-test-class"
              asp-fallback-test-property="opacity" asp-fallback-test-value="0" />
        <link rel="stylesheet"
              href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.material.min.css"
              asp-fallback-href="~/lib/kendo/css/web/kendo.material.min.css"
              asp-fallback-test-class="k-theme-test-class"
              asp-fallback-test-property="opacity" asp-fallback-test-value="0" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="flexbox-parent">
        <header class="flexbox-item header header-page">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">@ViewData["Title"]</a>
                            </div>
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stores<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Nop - New Orders</a></li>
                                        <li><a href="#">Nop - Unshipped Orders</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Catalogs<span class="caret"></span></a>
                                    <ul class="dropdown-menu" style="align-items: center;">
                                        <li style="height:36px"><a asp-area=""
                                                                   asp-controller="NuvangoCatalog"
                                                                   asp-action="Index">
                                            <img src="~/images/nuvangologo.png" alt="nuvango" style="width: 128px; height: 32px; border: none"></a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orders<span class="caret"></span></a>
                                    <ul class="dropdown-menu" style="align-items: center;">
                                        <li style="height:36px"><a asp-area=""
                                                                   asp-controller="NuvangoOrders"
                                                                   asp-action="Index">
                                            <img src="~/images/nuvangologo.png" alt="nuvango" style="width: 128px; height: 32px; border: none"></a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Stores</a></li>
                                        <li><a href="#">Catalogs</a></li>
                                    </ul>
                                </li>
                            </ul>
                        }
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
            </div>
        </header>
        <div class="flexbox-item fill-area content flexbox-item-grow">
            <div class="fill-area-content flexbox-item-grow">
                <div class="row">
                    <div class="panel panel-default">
                        <div id="example" class="panel-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="flexbox-item footer footer-page">
            <small>&copy; @DateTime.Now.Year - officialcommunity.com</small>
        </footer>
    </div>

    @{
        // Include the JavaScript for the current culture
        var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
    }

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/kendo/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo/js/kendo.aspnetmvc.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="https://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.1.118/js/kendo.aspnetmvc.min.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
    @Html.Kendo().DeferredScripts()
    <script src="@("https://kendo.cdn.telerik.com/2016.2.607/js/cultures/kendo.culture." + culture + ".min.js")"></script>
    <script>
        @* Set the current culture *@
        kendo.culture("@culture");

        function resizeGrid() {
            if (!$("#grid").length)
                return;
            $("#grid").data("kendoGrid").resize();
        }

        $(window).resize(function () {
            resizeGrid();
        });

        $(function () {

            if (!$("#grid").length)
                return;

            $("#grid").removeAttr("style");
            resizeGrid();
        });

    </script>
    @RenderSection("DeferredDocumentReady", required: false)
</body>
</html>
